django
djangorestframework
psycopg2-binary
django-cors-headers
djangorestframerwork-simplejwt
django-environ
django-allauth
django-filter
drf-yasg
sentry-sdk
pytest-django
requests
lemonsqueezy
pyngrok
python-dotenv
feedparser
redis
celery
django-extensions